.single-ppy_course #site-navigation .navbar-nav, .single-ppy_lesson #site-navigation .navbar-nav {display: none;}
.single-ppy_course #et-top-navigation, .single-ppy_lesson #et-top-navigation {visibility: hidden;}
.single-ppy_course .et-l--header .et-menu-nav, .single-ppy_lesson .et-l--header .et-menu-nav {visibility: hidden;}