/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Poppins:ital,wght@0,100;0,300;0,600;1,100&display=swap');
/* Review details and the content above it */
#review-details  {
    flex-basis: 60%;
}

#terms {
    flex-basis: 32%;
    margin-left: auto;
}
#review-details .company, #review-details table  {
    margin: 20px 0;
}
.subscription-list tr td {
    padding-bottom: 20px;
}
.subscription-list .dashicons-before {
    font-size: 15px;
    white-space: nowrap;
    vertical-align: middle;
}
.subscription-list .dashicons-before:before {
    margin-right: 3px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.green.dashicons-before {
    color: #29C4A9;
}
.gray.dashicons-before {
    color: #A5B0BF;
}

.steps li.current {
    font-weight: bold;
}
.subscription-list form {
    display: inline;
    margin-left: 10px;
}
.subscription-list td.top {
    vertical-align: top;
}
div.terms-checkboxes {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E5E5E5;
}

#profile-details label {
    font-weight: 300;
    width: 195px;
    display: inline-block;
}
#profile-details fieldset {
    margin-bottom: 20px;
}
#profile-details #profile-fields {
    display: flex;

    flex-wrap: wrap;
    padding: 25px 30px;
    justify-content: space-between;
}
#profile-details #profile-fields div {
    flex-basis: 50%;
}

.progress-list .progress {
    padding-bottom: 0 !important;
    margin-bottom: 20px;
    padding-left: 0;
}

.progress-list .progress h3 {
    background: #ccc;
    padding: 10px 20px;
}

.progress-list .progress ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.progress-list .progress li {
    list-style: none;
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.progress-list .progress li:last-child {
    border-bottom: none;
}
.progress-list .progress .lesson-number {
    display: inline-block;
    margin-right: 10px;
}

.progress-list .progress li span.status {
    background-color: #fff;
    height: 23px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 23px;
    margin-left: auto;
    flex-shrink: 0;
}
.progress-list .progress li.has_read span.status {
    background-color: green;
}

.progress-list .progress li span.lesson-excerpt {
    order: 3;
    width: 100%;
    margin-left: 43px;
}

#ver-nav .progress-list .progress li span.status {
    order: 1;
    margin-left: 0;
    margin-right: 20px;
    border: 1px solid #d1d1d1;
}
#ver-nav .progress .lesson-number {
    display: none;
}
#ver-nav .progress-list .progress li {
    list-style: none;
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#ver-nav .progress-list .progress li a, #ver-nav .progress-list .progress .lesson-number, #ver-nav .progress-list .progress li .lesson-title {
    order: 2;
    flex: 1;
    padding-bottom: 0;
}
#ver-nav .progress-list .progress li .lesson-title a {
    font-size: 15px !important;
    font-weight: normal;
}
.flex-break {
    flex-basis: 100%;
    height: 0;
}
.mark-read {
    display: inline-block;
    margin: 40px 0;
}

.manual-pay-btn {
    cursor: pointer;
}

.et_full_width_page #ppy-form, .et_no_sidebar #ppy-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.et_full_width_page  #tier-information, .et_no_sidebar #tier-information {
    width: 32%;
}

.et_full_width_page #registration-form, .et_no_sidebar #registration-form {
    width: 60%;
}
.et_full_width_page #registration-form .login-form, .et_no_sidebar #registration-form .login-form {
    width: auto;
}
#registration-form .login-form input[type="text"], #registration-form .login-form input[type="password"], #registration-form .login-form input[type="email"], #registration-form .login-form input[type="number"], #registration-form .login-form select, #registration-form .login-form .input-wrapper, #registration-form .login-form select {
    width: 100% !important;
}

#registration-form .login-form input[type="text"], #registration-form .login-form input[type="password"],
#registration-form .login-form input[type="email"], #registration-form .login-form input[type="number"],
#registration-form.login-form select, #registration-form .login-form .input-wrapper, #registration-form .login-form select  {
    width: 50%;
}

#registration-form .login-form label {
    width: 30%;
}

#registration-form .buy-button {
    margin: 0 auto 20px;
}

div.no-access-message  {
    margin: 0 auto;
    text-align: center;

}
.ppy-error-message, .ppy-error-message a {
    color: red;
    margin: 20px 0;
}
.ppy-error-message a {
    font-weight: bold;
}
#donation-container {
    display: flex;
    flex-wrap: wrap;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(33.33%, 1fr) );
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    min-height: 300px;
    border: 1px solid #ccc;
}
.grid-item img {
    margin-bottom: 20px;

}
.lesson-list.collapsible h3 i {
    position: relative;
    margin-left: 7px;
}
.lesson-list.collapsible h3 i::after {
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: absolute;
    top: 30%;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em;
}

.lesson-list.collapsible h3.opened i::after {
    transform: rotate(-45deg);
    top: 40%;
}

.login-form .input-wrapper.checkbox {
    height: auto;
}
.login-form .input-wrapper.checkbox input {
    float: left;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin-top: 10px;
}
.login-form .input-wrapper.checkbox .cdesc  {
    float: right;
    width: 90%;
}


.lightbox-toggle {
    display: block;
    margin: 5px 0 20px;
}
.lightbox-toggle:after {
    content: ' +';
}
.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.poppyz-popup {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

.close {
    float: right;
    cursor: pointer;
}



/*#upsells-form{
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
}

#upsells-form ul {
    list-style: none;
    margin-top: 20px;
}

#upsells-form ul li {
    margin-bottom: 3px;
}
#upsells-form input[type="submit"] {

}

#upsells {
    max-width: 690px;
    margin: 0 auto;
}*/

.upsells {
    flex-direction: column;
    align-items: center;
}


.upsell-wrapper {
    display: flex;
}
.upsells-steps {
    margin-bottom: 30px;
}


.upsells-steps {
    display: flex;
    justify-content: space-between;
}
 .upsells-steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .upsells-steps .step .icon {
    border-radius: 999px;
    background: #2B87DA;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .upsells-steps .line {
    height: 1px;
    margin: 20px 0 0;
    border: 1px solid;
    width: 130px;
}
 .upsells-steps .step3 {
    opacity: 0.4;
}

.upsells-content  h1 {
    margin: 0 0 10px;
}
.upsells .upsells-content {
    padding: 40px;
    margin-bottom:20px;
    width: 100%;
}

.upsells .upsells-content .white-box {
    padding: 30px;
    background: white;
    margin-top: 30px;
}
.upsells-action {
    text-align: center;
    padding-bottom:20px;
    margin-bottom:20px;
}

.upsells .tier-info {
    display: flex;
    align-items: center;
}
.upsells .tier-info img {
    margin: 2em 1em 1em 0;
}
.upsells .tier-info h3 {
    font-size: 20px;
}
.upsells .tier-info h4 {
    font-weight: 300;
}
.upsells .tier-info h4 strong {
    font-size: 24px;
    font-weight: 600;
}

.upsells .actions {
    text-align: center;
}

.et_full_width_page #registration-form, .et_no_sidebar #registration-form {
    width: 45%;
    margin-right: 50px;
}

.jconfirm.jconfirm-poppyz .jconfirm-bg{
    background-color: #444;opacity:.8;
}
.jconfirm.jconfirm-poppyz .jconfirm-box{
    border-radius: 0;
    max-width: 570px;
    padding: 40px 60px;
}
.jconfirm.jconfirm-poppyz .jconfirm-box.loading{
}
.jconfirm.jconfirm-poppyz .jconfirm-box.loading:before{
}
.jconfirm.jconfirm-poppyz .jconfirm-box.loading:after{
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-closeIcon{

}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-title-c{
    font-weight: 600;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-content-pane{
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-content{
    font-weight: 300;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-content div.confirm-content{

}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-content div.confirm-price {
    margin: 40px 0 0;
    text-align: center;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-content div.confirm-price span {
    font-weight: 600;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-buttons{
    margin: 0 auto;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-buttons button.et_pb_button {
    border-radius: 0;
    font-weight: 600    ;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-buttons button {
    display: block;
    margin: 0 auto;
}

.grey-box {
    margin: 0 0 40px 0;
}
#sepa {
    margin-top: 40px;
}

iframe.invoice-pdf {
    padding-bottom: 40px;
    margin-bottom:  40px;
}
.tier-information-input {
    width: 40% !important;
}
#tier-information label {
    width: 50%;
    display: inline-block;
}
.jconfirm.jconfirm-poppyz .jconfirm-box .jconfirm-buttons button{
    margin-top:10px;
}
.account_page_ul li {
    padding: 5px;
    list-style: none;
}
#custom-donation-container {
    display:none;
    margin-top:20px;
}
#ppy-form #donation-container input {
    margin-left: 0;
}
#donation-custom-amount {
    width: 77px;
    height: 50px;
    border: 1px solid #D9D9D9;
    padding: 5px;
    font-size: 24px;
    font-weight: 600;

}
#tier-information {
    width: 39% !important;
    min-width:300px;
}
#tier-information .tier-section {
    padding:0 !important;
}
.donation-radio-button-wrapper {
    display: flex;
}
.donation-radio-button-container {
    width:100px;
    min-width: 74px;
}
.custom-amount-row {
    display: flex;
    justify-content: space-between;
}
.custom-amount-label {
    min-width: 100px;
}
#tier-information h3{
    margin-bottom:0 !important;
}
.donation-row {
    padding: 15px 0;
    border-bottom: 1px solid #F2F7FE;
}
.donation-amount-label {
    margin-bottom:10px;
}
.custom-amount-label {
    padding-top: 10px;
}
.donation-total-row {
    display: flex;
    justify-content: space-between;
    border-bottom: none !important;
}
.purchase-total-value {
    font-weight: 800;
    font-size:24px;
    color:#2570D6;
}
#purchase-total {
    display: flex;
    justify-content: space-between;
    border-bottom: none !important;
    padding: 15px 0 10px 0;
}
.custom-amount-input {
    min-width: 77px;
}
.custom-amount-input-radio-button {
    padding-top:10px;
    margin-right: -20px;
}
#tier-information {

}
#ppy-form h3.tier-title {
    padding: 5px 0 !important;
}
.donation-image {
    margin-top:20px;
}
.donation-image img{
    width:100%;
    height: auto;
}
#tier-information {
    padding:0 !important;
    background: none !important;
    top:0 !important;
}
.tier-details {
    background-color:#fff !important;
    padding:40px;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
}
.tier-bullets {
    padding-bottom:40px;

}
.tier-bullets ul, .tier-bullets ul li {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

.tier-bullets ul li:before {
    content: '✓';
    color: #2B87DA;
    font-weight:bold;
    margin-right:20px;
}
.donation-hr {
    border-bottom: 1px solid #F2F7FE;
    margin:20px 0;
}
.purchase-hr {
    border-bottom: 1px solid #F2F7FE;
    margin:15px 0;
}
.price-with-currency {
    position:relative;
}
.price-currency {
    position: absolute;
    left: 1px;
    bottom: 1px;
    top:1px;
    padding:8px;
    background-color:rgba(207, 166, 166, 0.20);
    border-radius:5px 0 0 5px !important;
}
.input-price {
    padding-left:30px !important;
    border-radius:5px !important;
    overflow: hidden;
    border: 1px solid #D9D9D9 !important;
}

.additional-product-container .additional-product-row {
    display: flex;
    border: 0;
    margin-bottom: 20px;
    background-color: #F2F7FE;
}
.additional-product-container .additional-product-checkbox {
    min-width: 55px;
    max-width: 56px;
    padding: 15px 0 0 15px;
}
.additional-product-container .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.additional-product-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
}

.upsell-checkbox {
    width:50px;
}

.additional-product-container  .checkbox-container, .upsell-checkbox .checkbox-container {
    font-family: 'Open Sans';
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1px;
}
.additional-product-container  .checkbox-container  input, .upsell-checkbox .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.additional-product-container .checkmark, .upsell-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border:1px solid #D9D9D9;
}
.additional-product-container  .checkbox-container:hover input ~ .checkmark, .upsell-checkbox .checkbox-container input ~ .checkmark {
    background-color: #fff;
}
.additional-product-container  .checkbox-container input:checked ~ .checkmark, .upsell-checkbox .checkbox-container input:checked ~ .checkmark {
    background-color: #fff;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.additional-product-container  .checkbox-container input:checked ~ .checkmark:after, .upsell-checkbox .checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.additional-product-container  .checkbox-container .checkmark:after, .upsell-checkbox .checkbox-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 14px;
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.additional-product-container  .has-image {
    max-width: 229px;
    padding-right: 10px;
}
.additional-product-container .additional-product {
    padding: 20px 15px 20px 0;
    flex-grow: 1;
    overflow-wrap: break-word;
}
.additional-product .fields, .additional-product-container .additional-product p {
    color: #292929;
    line-height: 25px;
    font-weight: 300;
    font-family: "Mulish", sans-serif !important;
    font-size: 17px;
}
.additional-product-container .additional-product h5 {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.additional-product .fields, .additional-product-container .additional-product p {
    color: #292929;
    line-height: 25px;
    font-weight: 300;
    font-family: "Mulish", sans-serif !important;
    font-size: 17px;
}
.additional-product-container .additional-product-image-wrapper {
    flex-grow: 1;
    width: 170px;
    padding: 15px 15px 0 0;
}
.additional-product-container .additional-product-image {
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.additional-product-container h5 {
    padding-bottom:0 !important;
}
.additional-product-container p {
    margin-top:10px;
}
.tier-section .your-order {
    font-family: "Mulish", sans-serif !important;
    font-weight: 800;
    font-size: 24px;
    line-height: 30.12px;
}
#tier-information {
    width: 50% !important;
    max-width: 465px;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
}

#registration-form h3 {
    font-family: 'Poppins', sans-serif !important;
}
.poppyz-purchase-page #ppy-form {
    max-width: 990px !important;
}
#tier-information .tier-title {
    display:flex;
    justify-content: space-between;
}
.tier-bundle-price {
    margin-top: 0 !important;
}
#tier-information .tier-title span{
    min-width: 100px;
    text-align: right;
}


#tier-information h3 {
    font-family: 'Mulish', sans-serif !important;
    font-weight:800 !important;
}
#tier-information .tier-title{
    font-family: 'Mulish', sans-serif !important;
    line-height: 1.6;
    font-weight: normal !important;
}
.additional-product-list-ul, .additional-product-list-ul li {
    list-style: none;
    padding:0 !important;
}
.additional-product-list-ul li {
    margin-bottom:10px;
}
.additional-product-tax {
    font-size:14px;
    line-height: 1.2;
    font-style: italic;

}
.purchase-additional-product-td {
    padding-left:40px !important;
}
.one_step_checkout .active-additional-product {
    border:solid 1px #2570d6;
}

.hide-additional-product-checkbox {
    display:none !important;
}
.expand-additional-product-content {
    min-width: 70% !important;
    margin-left:15px;
}
.hide-additiona-product-price {
    display:none !important;
}
.purchase-tier-title {
    text-align: left !important;
    margin-top: 0 !important;
    flex: 0 1 285px;
}
.purchase-tier-price {
    margin-top: 0 !important;
    flex: 1 1 auto;
}
.tier-purchase-price-details {
    flex: 1 1 100%;
    color: #8E8E8E;
}
.tier-title-h3 {
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.purchase-total-label {
    font-size: 20px;
    color: #292929;
}
.second-payment{
    margin-top:0 !important;
    color: #8E8E8E;
    font-weight: normal !important;
}
.tier-discount-container {
    display: flex;
    justify-content: space-between;
    color: #2570D6;
    font-weight:400;
    padding:5px 0;
}
.additional-product-container {
    margin-top: 20px;
}
.total-with-tax-container {
    display: flex;
    justify-content: space-between;
    font-weight:600;
    padding:5px 0;
    font-family: 'Mulish', sans-serif !important;
}

/*form style*/
.registration-placeholder-div {
    position: absolute;
    right: 15px;
    top: 14px;
    pointer-events: none;
    opacity: .5;
}
.login-form input[type='text'], .login-form input[type='password'], .login-form input[type='email'], .login-form input[type='number'], .login-form select, #ppy-form input[type='text'], #ppy-form input[type='password'], #ppy-form select, #ppy-form input[type='email'], #ppy-form input[type='number'] {
    width:100% !important;
}
.registration-input-wrapper {
    position: relative;
    max-width: 440px;
}
.registration-input:placeholder-shown + .registration-placeholder-div {
    /* if real placeholder is shown - hide fake placeholder */
    opacity: 0;
}
.registration-placeholder-div {
    font-family: "Open Sans";
    font-weight: 300;
}
.total-with-tax-container {
    color:#292929;
}
.login-form input[type='text'], .login-form input[type='password'], .login-form input[type='email'], .login-form input[type='number'], .login-form select, #ppy-form input[type='text'], #ppy-form input[type='password'], #ppy-form input[type='email'], #ppy-form input[type='number'], #ppy-form select {
    width: 100% !important;
}
input#coupon, input#apply-coupon {
    font-size: 18px;
    line-height: 1.7em !important;
    border-radius: 3px;
    padding: .3em 1em !important;
    border-width: 1px;

}

#coupon-container th, #coupon-container td {
    vertical-align: top;
}
.upsell-content {
    display: flex;
}

.statistics-h2 {
    cursor: none;
}
@media (max-width: 1260px) {
    .custom-amount-input-radio-button {
        margin-right: 0;
    }
}
@media (max-width: 1282px) {
    .purchase-tier-title {
        flex: 0 1 220px;
    }
}
@media (max-width: 1161px) {
    #tier-information .tier-title {
        display: block;
    }
    #tier-information .tier-title span {
        text-align: left;
    }
    #tier-information {
        width: 47% !important;
    }
}
@media (max-width: 980px) {
    article {
        padding:0 20px;
    }
}
@media (max-width: 768px) {
    #ppy-form.upsells {
        display: block;
    }
    .et_full_width_page #tier-information, .et_no_sidebar #tier-information {
        order: 1;
        width: 100%;
        position: static;
    }
    .et_full_width_page #registration-form, .et_no_sidebar #registration-form {
        order: 2;
        width: 100% !important;
    }

    .ppy-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .ppy-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .ppy-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .ppy-table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a .ppy-table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ppy-table td:last-child {
        border-bottom: 0;
    }
    .mobile-only {
        display: none !important;
    }
    #tier-information {
        width: 100% !important;
    }
    .et_no_sidebar #registration-form {
        width:100%;
    }
    #tier-information {
        width:100% !important;
        min-width:100% !important;
        margin-left:0 !important;
    }
    #tier-information h3.tier-title span {
        margin-top: 0 !important;
    }
    .custom-amount-input-radio-button {
        padding-top: 10px;
        margin-right: -40%;
    }
}
@media (max-width:660px) {

    .custom-amount-input-radio-button {
        margin-right: -30%;
    }
}
@media (max-width:580px) {

    .custom-amount-input-radio-button {
        margin-right: -15%;
    }
}
@media (max-width:510px) {

    .custom-amount-input-radio-button {
        margin-right: 0;
    }
}
@media (max-width: 766px) {
    #tier-information {
        margin-left: 0px !important;
    }
}

@media (max-width: 460px) {
    .additional-product-container .additional-product-row {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .additional-product-container .additional-product-checkbox {
        flex: 0 1 50px;
    }
    .additional-product-container .additional-product {
        flex: 0 1 190px;
    }
    .additional-product-container .additional-product-image-wrapper {
        flex: 1 1 100%;
    }
    .additional-product-container .additional-product-image {
        float: none;
        margin-left: 52px;
    }
}
@media (max-width: 430px) {
    .additional-product-container .additional-product {
        flex: 0 1 230px;
    }
}
@media (max-width: 400px) {
    .additional-product-container .additional-product {
        flex: 0 1 200px;
    }
}
@media (max-width: 392px) {
    .total-with-tax-label {
        width:175px;
    }
    .donation-radio-button-wrapper {
        display: block;
    }
    #tier-information label {
        width: 90%;
    }
    .additional-product {
        margin-left:20px;
    }
    #review-details .table-wrapper {
        padding: 10px !important;
    }
}