

.poppyz-arrow {border: solid #d9cccc;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;}
.poppyz-down {transform: rotate(45deg)!important;-webkit-transform: rotate(45deg)!important;}
.poppyz-right {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
.poppyz-left {transform: rotate(135deg);-webkit-transform: rotate(135deg);}
.poppyz-up {transform: rotate(-135deg); -webkit-transform: rotate(-135deg);}
#students-list th a{text-align:right; float:right;}

