/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Poppins:wght@500&display=swap');
.poppyz-admin .wrap {
    font-family: "Montserrat", Open Sans, sans-serif;
}

.ppy-banner {
    box-sizing: border-box;
    margin: 0 0 0 -22px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px;
    background: #e2e3e4;

}

.ppy-banner .logo {
    float: left;
}
.ppy-banner a {
    background: #4c5866;
    color: #FFF;
    border-radius: 1px;
    padding: .66em 1em;
    float: right;
    margin: .8em 10px 1em 1em;
    text-decoration: none;
    font-weight: 400;
}
.ppy-banner a.second {
    background-color: transparent;
    border: 1px solid #4c5866;
    color: #515d6a;
    padding: 8px 15px 9px 15px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    min-width:130px;
    text-align:center;
    font-weight:500;
    font-size:15px;
    margin: 0.8em 0 1em 0 !important;
}


.lightbox-toggle {
    display: block;
    margin: 5px 0 20px;
}
.lightbox-toggle:after {
    content: ' +';
}
.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.poppyz-popup {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

.close {
    float: right;
    cursor: pointer;
}

/* Divi styling for Poppyz sections */
#ppy_metabox_lessons .inside,
#ppy_metabox_modules .inside,
#ppy_metabox_tiers .inside,
#ppy_metabox_tier_lessons_section .inside,
#tier_thank_you .inside,
#tier_email .inside,
#newsletter_lists .inside,
#ppy_metabox_tier_lessons_section .inside,
#ppyv_metabox_product_options .inside,
.poppyz-admin #postexcerpt .inside,
.poppyz-metabox .inside,
.poppyz-admin form.poppyz-form, .poppyz-admin form#posts-filter, .poppyz-admin .main-box {

    padding: 30px;
    margin: 0 30px 30px;
    font-size: 14px;
    font-family: "Montserrat", Open Sans, sans-serif;
}
.poppyz-admin #wpwrap {
    background: #E5E5E5;
}
.poppyz-admin .wrap {

}
.poppyz-admin .wrap.white, .edit-php.post-type-ppyv_product .wrap {
    padding: 20px 0;
}
.poppyz-admin .wrap > h2,
.poppyz-admin .wrap > h1.wp-heading-inline{
    padding: 0;
    font-weight: 500;
    margin: 0 0 20px;
}
.poppyz-admin .wrap a {
    color: #23282D;
}

.poppyz-admin .wrap a.ppy-toggle {
    float: right;
    font-size: 14px;
    text-decoration: none;
}
.poppyz-admin .wrap a.ppy-toggle:after {
    content: " +";
}
.poppyz-admin .wrap a.ppy-toggle.open:after {
    content: " -";
}
.poppyz-admin form.poppyz-form,  .poppyz-admin form#posts-filter, .poppyz-admin .main-box  {
    margin: 0;
}

#subscription-form-wrapper {
    margin-bottom: 30px;
}
#subscription-form-wrapper form, #subscription-form-wrapper .poppyz-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#subscription-form-wrapper form .field-wrapper {
    margin-right: 2rem;
    flex-grow: 1;
}
#subscription-form-wrapper form .field-wrapper.label {
    flex-grow: inherit;
}

#subscription-form-wrapper form select, #subscription-form-wrapper form  input[type='text'],  #subscription-form-wrapper form label  {
    width: 100%;

}

#subscription-form-wrapper input.date-picker {
    flex-shrink: 2;
}
.poppyz-admin table.widefat {
    background: none;
    border: none;
    border-spacing: 0 10px;
    margin: 0;
    box-shadow: none;
    color: #23282D;
}

.poppyz-admin table.widefat td, .poppyz-admin table.widefat th {
    vertical-align: middle;
    padding: 15px;
    font-size: 14px;
}
.poppyz-admin table.widefat thead th, .poppyz-admin table.widefat thead td {
    padding-bottom: 0;
    padding-top: 7px;
    border-top: 1px solid #EDF2F6 !important;
}
.poppyz-admin table.widefat th {
    font-size: 13px !important;
}

.poppyz-admin table.widefat th, .poppyz-admin table.widefat th a {
    color: #949494;
    font-weight: 500;
}
.poppyz-admin th.sortable a, .poppyz-admin th.sorted a {
    padding: 0;
}
.poppyz-admin table.widefat thead td, .poppyz-admin .widefat thead th, .poppyz-admin .widefat tfoot td, .poppyz-admin .widefat tfoot th {
    border: none;
}
.poppyz-admin table.dataTable thead .sorting, .poppyz-admin table.dataTable thead .sorting_asc,
.poppyz-admin table.dataTable thead .sorting_desc,
.poppyz-admin table.dataTable thead .sorting_asc_disabled,
.poppyz-admin table.dataTable thead .sorting_desc_disabled{
    background-position-y: bottom;
}
.poppyz-admin table.widefat tfoot {
    display: none;
}

.poppyz-admin table.widefat td.column-title {
    font-weight: bold;
}

.poppyz-admin #ppy-invoice table.widefat td.column-title .row-actions,
.poppyz-admin #ppy-coupon table.widefat td.column-title .row-actions,
.post-type-ppyv_product table.widefat td.column-title .row-actions,
.edit-php.post-type-ppyv_product #screen-meta-links
{
    display: none;
}

.poppyz-admin .actions {
    width: 200px;
}
.poppyz-admin th.actions {
    text-align: left;
}
.poppyz-admin table.widefat td:first-child a, .poppyz-admin table.widefat td.column-title, .poppyz-admin table.widefat td:first-child {
    color: #23282D;
    font-weight: 500;
    font-size: 14px;
}
.poppyz-admin #the-list tr, table.dataTable tbody tr, #admin-lesson-list li, .ppy-admin-list li,
.ppy-admin-table tbody tr
{
    background: #fff;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #EEF1F3;
    border-radius: 2px;
    margin-bottom: 10px;
}


.poppyz-admin .poppyz-form select,
.poppyz-admin form#posts-filter select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #D7E0E8;
    height: 37px;
    line-height: 37px;
    border-radius: 1px;
    font-size: 14px;
    color: #23282D;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: center right;
}

.poppyz-admin .poppyz-form select.placeholder-text,
.poppyz-admin form#posts-filter select.placeholder-text {
    color: #A8B7C5;
}

.poppyz-admin .poppyz-form select::after,
.poppyz-admin form#posts-filter select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/*.poppyz-admin .poppyz-form .button,
.poppyz-admin form#posts-filter .button {
    padding: 9px 20px 8px;
    border: 1px solid #D7E0E8;
    background: none;
    color: #505E6C;
    font-weight: 600;
    font-size: 13px;
}*/

#ppy_metabox_lessons,
#ppy_metabox_modules,
#ppy_metabox_tiers,
#ppy_metabox_tier_lessons,
#tier_thank_yo ,
#tier_email,
#newsletter_lists,
#ppy_metabox_tier_options,
#ppy_metabox_tier_lessons_section,
#ppyv_metabox_product_options,
.poppyz-admin #postexcerpt,
.poppyz-metabox  {
    background: white;
    border: none;
    box-shadow: 0 2px 5px rgba(62,80,98,.07);
    padding-bottom: 20px;
}

#ppy_metabox_lessons .postbox-header,
#ppy_metabox_modules .postbox-header,
#ppy_metabox_tiers .postbox-header,
#ppy_metabox_tier_lessons .postbox-header,
#tier_thank_you .postbox-header,
#tier_email .postbox-header,
#newsletter_lists .postbox-header,
#ppy_metabox_tier_options .postbox-header,
#ppy_metabox_tier_lessons_section .postbox-header,
.poppyz-admin #postexcerpt .postbox-header,
#ppyv_metabox_product_options .postbox-header,
.poppyz-metabox .postbox-header {
    border-bottom: 0;
    padding: 20px;
    margin-bottom: 0;
}

#ppy_metabox_lessons .postbox-header h2,
#ppy_metabox_modules .postbox-header h2,
#ppy_metabox_tiers .postbox-header h2,
#ppy_metabox_tier_lessons .postbox-header h2,
#tier_thank_you .postbox-header h2,
#tier_email .postbox-header h2,
#newsletter_lists .postbox-header h2,
#ppy_metabox_tier_options .postbox-header h2,
#ppy_metabox_tier_lessons_section .postbox-header h2,
#ppyv_metabox_product_options .postbox-header h2,
.poppyz-admin #postexcerpt .postbox-header h2,
.poppyz-metabox  .postbox-header h2 {
    font-size: 18px;
}

#ppy_metabox_lessons  a,
#ppy_metabox_modules  a,
#ppy_metabox_tiersa,
#ppy_metabox_tier_lessons a,
#tier_thank_you  a,
#tier_email a,
#ppy_metabox_tier_options a,
#ppy_metabox_tier_lessons_section a,
#ppyv_metabox_product_options a,
.poppyz-admin #postexcerpt a,
.poppyz-metabox a {
    text-decoration: none;
}

#ppy_metabox_lessons input[type="text"],
#ppy_metabox_lessons input[type="number"],
#ppy_metabox_modules input[type="text"],
#ppy_metabox_modules input[type="number"],
#ppy_metabox_tiers input[type="text"],
#ppy_metabox_tiers input[type="number"],
#ppy_metabox_tier_lessons_section input[type="text"],
#ppy_metabox_tier_lessons_section input[type="number"],
#tier_thank_you input[type="text"],
#tier_thank_you input[type="number"],
#tier_email input[type="text"],
#tier_email input[type="number"],
.post-type-ppyv_product #posts-filter input[type="search"],
.dataTables_filter input[type="search"],
input.ppy-input {
    border-radius: 1px;
    border: 1px solid #D7E0E8;
    height: 37px;
}

.poppyz-admin input:read-only:not([type=button]):not([type=reset]):not([type=submit]) {
    background: #F2F5F9;
}

.poppyz-admin #postexcerpt textarea {
    border-radius: 1px;
    border: 1px solid #D7E0E8;
}
#ppy_metabox_lessons #lessons-meta {
}
#ppy_metabox_lessons #lessons-meta input[type="text"] {
    margin-right: 10px;
}

.ppy-course-input {
    width: 272px;
}

#ppy_metabox_tier_lessons_section .ppy-admin-table th {
    width: 150px;
}

#ppy_metabox_tier_lessons_section .ppy-admin-table th .dashicons {
    font-weight: normal;
    margin-top: -2px;
    margin-left: 5px;
}
.ppy-section {
    margin: 40px 0;
}

.ppy-admin-table {
    margin-top: 1.5em;
    width: 100%;
    border-spacing: 0 10px;
    overflow-x:auto;
}
.ppy-admin-table tr th {
    text-align: left;
    color: #717b87;
    padding: 10px;
}

.poppyz-admin .wrap a.has-icon {
    text-decoration: none;
    margin-right: 20px;
    color: #4C5866;
}
.poppyz-admin .wrap td.actions {
    text-align: right;
}
.poppyz-admin .wrap td.actions a.has-icon {
    margin: 0 0 0 20px;
}
.poppyz-admin .wrap .ppy_button,
.poppyz-admin .poppyz-form .button,
.poppyz-admin .add-new-h2,
.poppyz-admin form#posts-filter .button,
.post-type-ppyv_product a.page-title-action
{
    background: #D7E0E8;
    padding: 0 20px;
    height: 37px;
    line-height: 37px;
    color: #546270;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
}
.post-type-ppyv_product a.page-title-action {
    position: static !important;
    line-height: 37px !important;
    padding: 0 20px !important;
    border: 0 !important;
}

.poppyz-admin .wrap .ppy_button.clear {
    background: none;
    border-radius: 2px;
    color: #505E6C;
}
.poppyz-admin .wrap .ppy_button.clear.inactive {
    color: rgba(207, 166, 166, 0.50) !important;
    border: 1px solid rgba(207, 166, 166, 0.50) !important;
    cursor:not-allowed;
}
.poppyz-admin .wrap .ppy_button.has-icon {
    padding-left: 10px;
}
.poppyz-admin .wrap .ppy_button.has-icon span {
    padding-right: 5px;
    vertical-align: middle;
}

.post-type-ppyv_product .page-title-action, .poppyz-admin .add-new-h2 {
    float: right;
    padding-left: 15px !important;
}

.post-type-ppyv_product .page-title-action:before, .poppyz-admin .add-new-h2:before {
    content: '+';
    margin: 0 5px;
}
.post-type-ppyv_product .subsubsub {
    text-align: center;
    margin: -50px auto 20px;
    display: block;
    float: none;
}

.post-type-ppyv_product .subsubsub a, .post-type-ppyv_product .subsubsub a span  {
    color: #00689D;
    text-decoration: underline;
}

.post-type-ppyv_product .subsubsub a.current {
    color: #616C79;
    text-decoration: none;
}
/* End Divi styling for Poppyz sections */


.rwmb-radio-wrapper label {
    display: block;
}
.radio-wrapper label {
    margin-right: 40px;
}

.ppy-admin-list {
    margin-top: 1.5em;
}

.copy-tier-url {
    cursor: pointer;
}

.ppy-admin-list li:after {
    content:'';
    display:block;
    clear: both;
}

.ppy-admin-list li .ppy-actions {
    float: right;
}

.placeholder {
    outline: 1px dashed #4183C4;
}

.sortable li div.handle {
    cursor: move;
    padding: 20px;
    margin-left: 5px;
    color: #23282D;
}


#ppy_metabox_tier_lessons {
    position: relative;
}
#ppy_metabox_tier_lessons input[type='number'],
#ppy_metabox_tier_lessons input [type = 'text'],
#ppy_metabox_tier_lessons input.date-picker {
    width: 100px;
}
#ppy_metabox_tier_lessons a.tooltip {
    cursor: default;
}
.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
}

#ppy_metabox_tier_pricing label {
    margin-bottom: 3px;
    display: block;
}
#ppy_metabox_tier_pricing select {
    margin-bottom: 10px;
}
#ppy_metabox_tier_pricing input[type="number"] {
    width: 60px;
}
#ppy-payment-plan, #ppy-membership, #ppy-payment-type, #ppy-initial-price, #ppy-donation, #ppy-donation-fixed-amount, #ppy-donation-custom-amount{
    display: none;
}
#ppy-payment-plan label {
    display: block;
}

#ppy-settings-page .settings-error {
    margin-top: 10px;
}

.postbox-container dt {
    font-weight: bold;
    clear: right;
    float: left;
}
.postbox-container dd {
    float: right;
}
.clear {
    clear: both;
}

/* Hide the Clone button of Profit Builder on the course, lesson, and tier screen */
.post-type-ppy_course .misc-pub-pboptions, .post-type-ppy_lesson .misc-pub-pboptions, .post-type-ppy_tier .misc-pub-pboptions {
    display: none !important;
}

/* Statistics page */
.white-box {
    background: #fff;
    padding: 15px;
}
.white-box > .container {
    margin-left: -20px;
}
.white-box h2 {
    cursor: pointer;
}
.white-box h2.highlight {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background: #e2e3e4;
    padding: 20px 10px;
}
#sales-list table {

}


.white-box .selected {
    font-weight: bold;
    color: inherit;
}

#ppy-membership {
    display: none;
}

/*.term-php.post-type-ppy_lesson .term-slug-wrap,*/
.term-php.post-type-ppy_lesson .term-parent-wrap,
.term-php.post-type-ppy_lesson .term-description-wrap {
    display: none;
}

div.search-box {
    padding: 30px;
    background: #E6EDF3;
    margin: 30px 0;
    max-width: 800px;
    overflow: auto;
}
div.search-box fieldset {
    display: grid;
    grid-template-columns: 100px minmax(150px, 1fr) minmax(150px, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
div.search-box fieldset div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
div.search-box fieldset input:not([type='checkbox']), div.search-box fieldset select, div.search-box button {
    width: 75%;
    max-width: none;
}

div.search-box fieldset select,
div.search-box fieldset input[type='checkbox'],
div.search-box #search-invoice-search-input, div.search-box button {
    margin-left: 45px !important;
}

div.search-box fieldset div label {
    width: 40px;
    margin-right: 5px;
    display: inline-block;
    text-align: right;
}

div.search-box fieldset button {
    grid-column-start: 3;
}

/*

*/

div#export-buttons {
    display: flex;
    align-items: center;
}
div#export-buttons button, div#export-buttons a {
    margin-right: 5px;
    display: block;
}
div#export-buttons a {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;

}
.poppyz-admin-profile-fields label {
    display: inline-block;
    width: 220px;
    font-weight: bold;
}
#admin-tier-list {
    margin-top: 30px;
}

#admin-tier-list code {
    word-wrap: break-word;
}
#admin-tier-list td a.url {
    color: #2673AA;
    text-decoration: none;
}
#admin-tier-list td .dashicons {
    color: #4C5866;
}
.btn-link-form {
    display: inline;
}
.btn-link {
    color: #0073aa;
    background: none;
    border: none;
    cursor: pointer;
    display: inline;
}
.assign-subscription {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.assign-subscription th, .assign-subscription td {
    padding: 5px 5px 5px 0;
}

#reminder-form input[type='text'] {
    width: 100%;
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}

input[type="checkbox"]:disabled {
    cursor: default;
}

/* Sliding checkbox */
.ppy-checkbox-wrapper {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ppy-checkbox-wrapper .switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 75px;
    margin-right: 30px;
}


.ppy-checkbox-wrapper p.description {
    font-size: 12px;
    margin-top: 0;
    flex-shrink: 2;
    flex-basis: 80%;
    color: #858585;
}

.ppy-checkbox-wrapper .switch input {
    display:none;
}

.ppy-checkbox-wrapper .slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    background: url('https://api.iconify.design/dashicons:no-alt.svg?color=%23CFA6A6&width=25&height=25') no-repeat 96% center #CFA6A633;
    color: #CFA6A6;
}

.ppy-checkbox-wrapper .slider:before {
    background-color: #fff;
    bottom: 5px;
    width: 30px;
    height: 20px;
    left: 5px;
    position: absolute;
    transition: .4s;
    content: "";
    line-height: 24px;
}

#register-form .ppy-checkbox-wrapper {
    float: right;
    margin-left: 20px;
}

#register-form .ppy-checkbox-wrapper .slider:before,
#ppy-form-settings .eye .slider:before,
#ppy-form-settings .invisible .slider:before {
    content: "";
}
/*#ppy-form-settings .enable-disable .slider:before {
    content: "\f335";

}*/
.ppy-checkbox-wrapper .slider:after {

}

.ppy-checkbox-wrapper input:checked + .slider {
    border-color: transparent;
    background: url('https://api.iconify.design/dashicons-saved.svg?color=%23fff&width=25px&height=25px') no-repeat 5px center #CFA6A6;
}

.ppy-checkbox-wrapper input:checked + .slider:before {
    transform: translateX(36px);
    content: "";
}

#register-form .ppy-checkbox-wrapper .ppy-checkbox-wrapper input:checked + .slider,
#ppy-form-settings  .ppy-checkbox-wrapper.eye input:checked + .slider {
    background: url('https://api.iconify.design/dashicons:visibility.svg?color=%23fff&width=25&height=25') no-repeat no-repeat 5px center #2b87da;
}
#ppy-form-settings  .ppy-checkbox-wrapper.invisible input:checked + .slider {
    background: url('https://api.iconify.design/dashicons/hidden.svg?color=%23fff&width=25&height=25') no-repeat no-repeat 5px center #2b87da;
}
#register-form .ppy-checkbox-wrapper input:checked + .slider:before,
#ppy-form-settings  .ppy-checkbox-wrapper.eye input:checked + .slider:before,
#ppy-form-settings  .ppy-checkbox-wrapper.invisible input:checked + .slider:before {
    content: "";
}
/*#ppy-form-settings  .ppy-checkbox-wrapper.enable-disable input:checked + .slider:before {
    content: "\f147";
}*/

.ppy-checkbox-wrapper .slider.round {
    border-radius: 4px;
}

.ppy-checkbox-wrapper .slider.round:before {
    border-radius: 4px;
}



.post-type-ppyv_product td.column-title strong {
    float: left;
    margin: 0;
}

.post-type-ppyv_product .search-box {
    float: left;
    width: 30%;
}
.post-type-ppyv_product .tablenav.top {
    clear: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
    display: flex;
    align-items: center;
}

.post-type-ppyv_product  #posts-filter .tablenav.top .actions {
    width: auto;
    margin: auto;
}

.post-type-ppyv_product .tablenav.top .alignleft {
    float: left;
}
.post-type-ppyv_product  #posts-filter .one-page .displaying-num, .post-type-ppyv_product .tablenav .tablenav-pages{
    margin: 0 !important;
}


#students-list_filter {
    float: left;
}
#students-list_length, #students-list_paginate, #students-list_info {
    display: none;
}
#students-list_filter input {
    width: 232px;
    background: #FFFFFF;
    height: 37px;
    margin-bottom: 20px;
    padding: 12px 20px;
}
#students-list_filter input::placeholder, .ppy-input::placeholder, .ppy-course-input::placeholder {
    color: #A8B7C5;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

#ppy_lesson_category-adder, #ppy_lesson_category-tabs .hide-if-no-js {
    display: none;
}

#ppy-invoice .actions, #ppy-coupon .actions, .poppyz-admin #posts-filter .actions{
    width: 100%;
}
#ppy-invoice .row-actions {
    /*position: absolute;*/
}
#ppy-invoice table.widefat thead td, #ppy-invoice table.widefat thead th {
    padding-top: 0;
}
#ppy-invoice .tablenav.top {
    margin-top: 10px;
}

#ppy-invoice table.widefat thead th#actions {
    text-align: right;
}

#ppy-invoice #bulk-action-selector-top,
#ppy-coupon #bulk-action-selector-top,
.poppyz-admin #posts-filter #bulk-action-selector-top{
    float: left;
}

#ppy-invoice .tablenav .one-page .displaying-num,
#ppy-coupon .tablenav .one-page .displaying-num,
.poppyz-admin #posts-filter .one-page .displaying-num {
    margin: -30px 0 0 0;
    display: block;
}

.ppy-toggle-wrapper {
    display: none;
}
#ppy-settings-page {
    display: none;
}

#ppy-form-settings {
    display: flex;
    padding: 0;
    border: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.postbox #ppy-form-settings {
    max-width: none;
    margin: 0 30px 30px 30px;
}
.postbox #ppy-form-settings .inside {
    margin-top: 0;
}
#ppy-form-settings input[type="text"],
#ppy-form-settings input[type="date"],
#ppy-form-settings input[type="number"],
#ppy-form-settings select {
    width: 300px;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #D7E0E8;
}

#ppy-form-settings input[type="text"].short,
#ppy-form-settings input[type="date"].short,
#ppy-form-settings input[type="number"].short,
#ppy-form-settings select.short,
.ppy-admin-table input[type="text"].short,
.ppy-admin-table input[type="date"].short,
.ppy-admin-table input[type="number"].short,
.ppy-admin-table select.short {
    width: 80px !important;
}

#ppy-form-settings input.short-2 , #ppy-form-settings select.short-2,
.ppy-admin-table input.short-2 , .ppy-admin-table select.short-2{
    width: 105px;
}

#ppy-form-settings input.short-3, #ppy-form-settings select.short-3,
.ppy-admin-table input.short-3, .ppy-admin-table select.short-3 {
    width: 154px;
}

#ppy-form-settings input.full {
    width: 90%;
}

#ppy-settings-page textarea {
    border-radius: 1px;
    border: 1px solid #D7E0E8;
}

#ppy-form-settings .description, #ppy-form-settings td small {
    margin-left: 10px;
    margin-top: 0;
    color: #858585;
    font-size: 12px;
    max-width: 480px;
    display: inline-block;
}

#ppy-form-settings .description.full {
    max-width: none;
    margin: 10px 0 0;
}

#ppy-form-settings .wp-editor-container {
    border-color: #D7E0E8;
}

#ppy-form-settings div.mce-toolbar-grp, #ppy-form-settings .tmce-active .switch-tmce, #ppy-form-settings .html-active .switch-html, #ppy-form-settings .quicktags-toolbar {
    background: #F6F9FB;
}
#ppy-form-settings .wp-switch-editor {
    background: #E6EDF3;
}
#ppy-form-settings div.mce-toolbar-grp {
    border-color: #D7E0E8;
}
#ppy-form-settings .quicktags-toolbar input.button.button-small {
    padding: 2px 10px;
    height: auto;
}
#ppy-form-settings .wp-editor-tabs {
    margin-top: 7px;
}

#ppy-settings-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right:30px;
}
#ppy-settings-buttons #ppy-settings-button-update {
    margin-top: 20px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    margin: 20px 0 20px 0;
    min-width:130px;
    color:#fff;
    text-align:center;
    display: block;
    font-weight: 500;
    font-size:15px;
}
#ppy-settings-buttons #ppy-settings-button-update:before {
    content: "\f147";
    margin-top: 9px;
}

#ppy-form-settings .activation-status span {
    width: auto;
    padding: 3px 10px;
    border-radius: 2px;
    border: 1px solid #29C4A9;
    display: inline-block;
    margin-left: 30px;
    font-weight: 500;
    font-size: 13px;
    color: #29C4A9;
}
#ppy-form-settings .activation-status span.invalid {
    border-color: #ff3300;
    color: #ff3300;
}

.callout-box {
    padding: 20px;
    background: rgba(207, 166, 166, 0.20);
    margin: 10px 0;
    overflow: auto;
    color: #CFA6A6 !important;
}
.callout-box label {
    display: block;
    margin-bottom: 10px;
}
.callout-box label.margin-top10 {
    margin-top: 10px;
}
#ppy-form-settings .callout-box.invoice-email-box p.description {
    display: block;
    margin: 0 0 10px 2px;
}


.ui-tabs-vertical {
    background: #f6f9fb;
}


.ui-tabs-vertical .tabs {
    background: #FFF;
}
.ui-tabs-vertical .tabs .ui-tabs-nav {
    background: none;
    border: none;
    padding: 0;
}
.ui-tabs-vertical .ui-tabs-nav li {
    background: none;
}

.ui-tabs-vertical .ui-tabs-nav > li a.nav-tab {
    display: block;
    background: none;
    border: none;
    float: none;
    margin-left: 0;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    height: 35px;
    line-height: 35px;
}

.ui-tabs-vertical .ui-tabs-nav > li a.nav-tab {
    background: #fff;
    padding-left: 20px;
}

.ui-tabs-vertical .ui-tabs-nav > li > a.nav-tab:before {
    margin-right: 10px;
    vertical-align: text-top;
    margin-top: -2px;
}

.ui-tabs-vertical .ui-tabs-nav > li:not(.sub-tab) > a.nav-tab:hover, .ui-tabs-vertical .ui-tabs-nav > li:not(.sub-tab).ui-tabs-active > a.nav-tab {
    background: #CFA6A6 !important;
    color: #fff;
    border: none !important;
    box-shadow: none;
}

.ui-tabs-vertical .ui-tabs-nav > li.ui-tabs-active {
    padding-bottom: 0;
}

.ui-tabs-vertical .ui-tabs-nav > li.sub-tab {
    display: block;
}

.postbox .ui-tabs-vertical .ui-tabs-nav > li a.nav-tab {
    background: none;
}

.ui-tabs-vertical .ui-tabs-nav > li.sub-tab {
    margin-bottom: 0;

}

.ui-tabs-vertical .ui-tabs-nav li.has-tabs span.dashicons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.ui-tabs-vertical .ui-tabs-nav li a.divi-icon:before {
    font-family: ETmodules;
    content: "\E625";
    width: 30px !important;
    font-size: 30px !important;
    margin: -6px 0 0 -4px;
}


.ui-tabs-vertical .ui-tabs-nav > li.sub-tab.ui-tabs-active a.nav-tab {
    color: #23282D;
    font-weight: 500;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 0 2% 90px;
    border: none;
    flex-basis: 74%;
    margin: 0 auto;
}

.ui-tabs-vertical .ui-tabs-panel h2 {
    font-family: Prata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



.ppy-field-wrapper {
    display: flex;
    align-items: center;
    align-content: space-around;
    margin: 20px 0 0 -12px;
}
.ppy-field-wrapper p {
    font-size: 14px;
}

.ppy-field-wrapper.full {
    flex-flow: wrap;
    align-items: start;
}

.ppy-field-wrapper .break {
    flex-basis: 100%;
    width: 100%;
}

.ppy-field-wrapper label {
    flex-basis: 20%;
    font-weight: 500;
}

.ppy-field-wrapper input, .ppy-field-wrapper select, .ppy-field-wrapper textarea {
    margin-right: 20px;
}

.ppy-field-wrapper .description {
    margin: 0 0 0 20px !important;
    flex-shrink: 2;
}
.ppy-field-wrapper .description.full {
    margin: 20px 0 0 0 !important;
}

.ppy-field-wrapper input.has-icon {
    padding-left: 15px;
}

#statistics-page .filters {
    display: flex;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

#statistics-page h2 span.right {
    float: right;
}
#statistics-page h2 span.total {
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #616C79;
}
#statistics-page h2 span.total span {
    color: #23282D;
}
.filter-links {
    margin-right: 30px;
}
.filter-form .select-period {
    margin: 0 10px 0 20px;
}
#statistics-page #ppy-start-date, #statistics-page #ppy-end-date {
    margin: 0 10px;
}
#statistics-page #ppy-end-date {
    margin-right: 30px;
}
#statistics-page .filters .total {
    font-size: 14px;
    color: #616C79;
    font-weight: 500;
    margin-left: auto;
}



#statistics-page .range {
    font-size: 14px;
    font-weight: 500;
}
#statistics-page .filters .total span {
    color: #23282D;
}
#statistics-page .chart {
    padding-top: 30px;
    width:100%;
    height:100%;
}

#students-list {
    color: #23282D;
}
#students-list td.name {
    font-weight: bold;
    color: inherit;
}

#ppy_metabox_poppyz_tier_links .course-title,
#ppy_metabox_poppyz_lesson_links .course-title {
    background: #F3F3F3;
    padding: 15px 24px;
    /*margin: 0 -12px;*/
}
#ppy_metabox_poppyz_lesson_links .poppyz-links, #ppy_metabox_poppyz_lesson_links .inside {
    margin: 0;
}
#ppy_metabox_poppyz_tier_links li,
#ppy_metabox_poppyz_lesson_links li {
    padding: 15px;
}
#ppy_metabox_poppyz_tier_links li a,
#ppy_metabox_poppyz_lesson_links li a {
    float: right;
}

.wrap ul.ppy-students-pagination {
    display: flex;
    margin-top: 7px;
}
.wrap ul.ppy-students-pagination li {
    border: 1px solid #EDF2F6;
    padding: 2px 8px;
    margin-right: 5px;
}
.wrap ul.ppy-students-pagination li a {
    color: #616C79;
    text-decoration: none;
}
.wrap ul.ppy-students-pagination li.active {
    background: #ccc;
    pointer-events:none;
}

.items-per-page {
    width: 50px !important;
}

#ppy_hide_main_menu_description {
    display: inline !important;
}

#table-tier-lessons td:nth-child(1) {
    width: 10%;
}
button.link {
    background: none;
    border: 0;
    cursor: pointer;
    color: #4C5866;
}
.checkbox2-table {
    margin-left: -12px;
}
.checkbox2-table th {
    width: 170px;
    font-weight:bold;
}

/*******layout 2.0**********/
.poppyz-admin .main-box {
    padding: 0 0 30px 3px !important;


}

.poppyz-admin .wrap {
    padding: 30px 0 0  0 !important;
}
.post-type-ppy_tier .main-box {
    padding: 0 !important;

}
.logo-row {
    border-bottom:1px solid rgba(207, 166, 166, 0.20);

}
.main-box {
    background-color:#fff;
    box-shadow: none;
}
.poppyz-admin #wpwrap {
    background: #fff;
}
.ppy-banner-wrapper {
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
}
.ppy-banner {
    background: #fff;
    border-bottom:rgba(207, 166, 166, 0.20) 1px solid;
    padding: 20px 0;
    margin: 0 30px;
}
.poppyz-admin .wrap > h2, .poppyz-admin .wrap > h1.wp-heading-inline {
    color: #000;
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ppy-banner-row {
    display: flex;
    justify-content: space-between;
}
.ppy-banner-row .ppy-banner-child-row h2{
    color: #000;
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 0 0;
}
.ppy-banner-row #ppy-settings-button-update {
    display: inline-flex;
    padding: 8px 15px 9px 15px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    margin: 20px 0 0 0;
    min-width:130px;
    color:#fff;
    text-align:center;
    display: block;
    font-weight: 500;
    font-size:15px;
}
#wpcontent {
    padding-left:0;
}
#wpbody{
    padding-left:25px;
    padding-right: 30px;
}
nav {
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.10));
    border-radius:10px;
}
.ppy-vertical-nav-tabs {
    /*filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10));*/
    border-radius:10px;
    overflow: hidden;
}
.ppy-vertical-nav-tabs li a {
    color :#000;
}
.ppy-vertical-nav-tabs li a:before {
    color:#CFA6A6;
}
.wp-media-buttons .insert-media {
    background:transparent !important;
    border-radius: 4px !important;
    border: 1px solid #CFA6A6 !important;
    color: #CFA6A6 !important;
}

.ppy-settings-heading-wrapper {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin: 0 0 1em -22px !important;
    padding:10px 20px;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10));
    width: 102.5%;
    flex-shrink: 0;
    color: #000;
    border-radius:10px;
}


.ppy-settings-heading-wrapper h2 {
    margin: 8px 0 8px 0;
}
.ppy-settings-gotomanual-button a{
    display: inline-flex;
    padding: 8px 15px 9px 15px;
    align-items: flex-start;
    gap: 10px;
    color: #CFA6A6 !important;
    border-radius: 4px;
    border: 1px solid #CFA6A6;
    text-decoration: none;
}
#ppy-settings-save-buttons label{
    padding: 0 20px;
    height: 37px;
    line-height: 37px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    margin: 20px 10px 20px 0;
    min-width: 130px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 15px;

}
#ppy-settings-save-buttons {
    display: flex;
    justify-content: space-between;
}

#ppy-settings-buttons #ppy-settings-button-update {
    padding: 0 20px;
    height: 37px;
    line-height: 37px;
    cursor: pointer;
    vertical-align: middle;
}
.ppy-settings-buttons-wrapper {
    margin-top:25px;
    background-color: #fff;
    box-shadow: 0px -20px 30px 0px rgba(0, 0, 0, 0.10);
    margin-left: -20px;
}
#reset_default_text, #divi button {
    background:transparent;
    border-radius: 4px;
    border: 1px solid #23282D;
    gap: 15px;
    color: #23282D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    min-width:80px;
    text-align:center;
}
.form-table {
    margin-bottom:1em;
}
#ppy-form-settings .button  {
    border: 1px solid #CFA6A6 !important;
    background: transparent !important;
    border-radius: 4px !important;
    color: #CFA6A6 !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

.poppyz-options-body .ppy-vertical-nav-tabs {
    /* filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10)); */
    border-radius: 10px 10px 0 0 !important;
    overflow: hidden;
}
/** tier page **/
.post-type-ppy_tier #ppy-form-settings {
    margin: 0;
}
.post-type-ppy_tier .ppy-vertical-nav-tabs, .post-type-ppy_tier.ppy-vertical-nav-tabs, .post-type-ppy_tier nav{
    border-radius:0;
}
.post-type-ppy_tier #ppy_metabox_tier_options  .inside {
    margin: 0;
    padding:0;
}
.post-type-ppy_tier .postbox-header {
    background-color: #fff;
    border-radius: 0;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10));
}
.post-type-ppy_tier  .postbox-container,  .post-type-ppy_tier .postbox {
    border-radius:10px;
}
#ppy_metabox_tier_options #ppy-form-settings {
    background: none;
}
.post-type-ppy_tier  #ppy_metabox_tier_options {
    background:#fff;
}
.post-type-ppy_tier  #ppy_metabox_tier_options {
    padding-bottom:0;
}
.post-type-ppy_tier  .tabs {
    border-radius: 0 0 0 10px;
}
.post-type-ppy_tier  .postbox-header h2 {
    color: #000;
    font-family: Prata;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-type-ppy_tier  .ui-tabs-panel h2 {
    color: #000;
    font-family: Prata;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal !important;
    margin:20px 0 0 -22px !important;
}

.post-type-ppy_tier  #wp-content-editor-tools {
    background:none;
}

.price-with-currency {
    position:relative;
}
.price-currency {
    position: absolute;
    left: 1px;
    bottom: 1px;
    top:1px;
    padding:8px;
    background-color:rgba(207, 166, 166, 0.20);
    border-radius:5px 0 0 5px !important;
}
.input-price {
    padding-left:30px !important;
    border-radius:5px !important;
    overflow: hidden;
    border: 1px solid #D9D9D9 !important;
}
.percentage-wrapper {
    position:relative;
}
.percentage-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    padding:8px;
    background-color:rgba(207, 166, 166, 0.20);
    border-radius:0 5px 5px 0 !important;
}
.input-percentage {
    padding-right:30px !important;
    border-radius:5px !important;
    overflow: hidden;
    border: 1px solid #D9D9D9 !important;
    margin-right:0 !important;
}

/**e-product options**/

.post-type-ppyv_product #ppy-form-settings {
    margin: 0;
}
.post-type-ppyv_product .ppy-vertical-nav-tabs, .post-type-ppyv_product .ppy-vertical-nav-tabs, .post-type-ppyv_product nav{
    border-radius:0;
}
#ppyv_metabox_product_options .inside {
    margin: 0 !important;
    padding:0 !important;
}
.post-type-ppyv_product .postbox-header {
    background-color: #fff;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10));
}
.post-type-ppyv_product  .postbox-container,  .post-type-ppy_tier .postbox {
    border-radius:10px;
}
#ppy_metabox_tier_options #ppy-form-settings {
    background: none;
}
.post-type-ppyv_product  #ppy_metabox_tier_options {
    background:#fff;
}
.post-type-ppyv_product  #ppy_metabox_tier_options {
    padding-bottom:0;
}
.post-type-ppyv_product  .tabs {
    border-radius: 0 0 0 10px;
}
.post-type-ppyv_product  .postbox-header h2 {
    color: #000;
    font-family: Prata;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-type-ppyv_product  .ui-tabs-panel h2 {
    color: #000;
    font-family: Prata;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal !important;
    margin:20px 0 0 -22px !important;
}
#ppyv_metabox_product_options {
    padding-bottom:0;
}

#ppyv_metabox_product_options #ppy-form-settings {
    background: none;
}
.post-type-ppyv_product .percentage-icon {
    right: 21px;
}
#ppy_tier_tax_rate {
    padding-right:21px;
}
.post-type-ppyv_product #ppy_tier_price {
    padding-left: 30px;
}
.post-type-ppyv_product #ppy_tier_tax_rate {
    padding-right: 30px;
}
.post-type-ppyv_product #wp-content-editor-tools {
    background:none;
}
.post-type-ppyv_product #product-owners {
    margin-top:20px;
}
.post-type-ppyv_product .meta-box-sortables {
    border-radius: 10px;
    overflow: hidden;
}
#postbox-container-1 .meta-box-sortables {
    border-radius: 0 !important;
    overflow: hidden;
}
#wpcontent {
    background: #f0f0f1;
}
.poppyz-options-body #wpcontent {
    background: none;
}
.post-type-ppy_course .ppy_button {
    border-radius: 4px !important;
    border: 1px solid #000 !important;;
    background: #000 !important;;
    align-items: center;
    gap: 8px;
    color: #fff !important;
}
.post-type-ppy_course .postbox  {
    border-radius:10px;
    overflow: hidden;
}
#ppyv_metabox_product_options {
    margin-bottom:0;
}

/** student page **/
.poppyz-table-text {
    color:#CFA6A6;
}
#subscription-form-wrapper form {
    padding:15px !important;
}
#select-course, #student-search-by-name, #select-tier {
    color: #949494 !important;
    font-weight: 400;
    font-size: 15px;
    font-family: "Montserrat", Open Sans, sans-serif;
}
.student-status {
    color: #CFA6A6 !important;
}
.banner-search-bar {
    padding-top:20px;
}
.poppyz-top-tools-wrapper .apply-action, .banner-search-bar input[type=submit], .poppyz-top-tools-wrapper input[type=submit] {
    border-radius: 4px;
    border: 1px solid #23282D;
    padding: 8px 10px 9px 15px;
    align-items: center;
    background: transparent;
    font-weight:500;
    font-family: Poppins;
    cursor: pointer;
    color: #23282D;
}
.banner-search-bar input[type=text] {
    padding: 5px 15px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #949494;
}
.banner-search-bar select {
    display: inline-flex;
    padding: 5px 25px 5px 15px;
    margin-top: -3px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    margin-left:0;
}
.students-export-button-active {
    border-radius: 4px !important;
    border: 1px solid #CFA6A6 !important;
    color: #CFA6A6 !important;
}
.export-button {
    border-radius:4px !important;
}
.inactive-nav-students {
    border: 1px solid #CFA6A6 !important;
    background: #CFA6A6 !important;
    color: #fff !important;
    border-radius:4px;
    font-weight: 500;
    margin-right:10px;
}
.inactive-students-search-user {
    border: 1px solid #CFA6A6 !important;
    background: #CFA6A6 !important;
    color: #fff !important;
    border-radius:4px;
    font-weight: 500;
    margin-right:10px;
}
.inactive-nav-students a{
    color: #fff !important;
}
.inactive-students-search-user a{
    color: #fff !important;
    content: "\f179";
}
.active-nav-students {
    border: 1px solid #F5EDED !important;
    background: #F5EDED !important;
    border-radius:4px 4px 0 0 !important;
    font-weight: 500;
    margin-right:10px;
}
.active-students-search-user {
    border: 1px solid #F5EDED !important;
    background: #F5EDED !important;
    border-radius:4px 4px 0 0 !important;
    font-weight: 500;
}
.active-nav-students a{
    color: #CFA6A6 !important;
}
.active-nav-students a.ppy-toggle:before {
    content: "- " !important;
    font-weight: 500;
}
.active-student-form-nav {
    border-radius:4px 4px 0 0 !important;
}
.students-add-user-course {
    background: rgba(207, 166, 166, 0.20);
    padding: 10px 15px 10px 15px;
}
.students-search-user {
    background: rgba(207, 166, 166, 0.20);
    padding: 10px 15px 10px 15px;
}
.students-search-user a{
    text-decoration: none;
}
.students-add-user-course .open {
    background: #F5EDED !important;
}

.ui-autocomplete {
    max-height:300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:5px;
    border-radius: 0 0 4px 4px;

}
.ui-autocomplete .ui-menu-item{
    padding:5px;
    border-bottom: 1px solid rgba(207, 166, 166);
}
.table-sort-search button {
    color:#000;
}
.sign-in-td {
    max-width:200px;
}
.poppyz-students-body .main-box {
    padding: 30px 30px 30px 3px;
}
.poppyz-students-body .check_student_id {
    margin-left: 0;
}
.student-name-column a{
    font-weight:500;
}
.poppyz-students-body input[type=checkbox] {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.poppyz-students-body table.widefat thead th {
    padding-bottom: 0;
    padding-top: 7px;
    border-top: none !important;
}
.checkbox-td {
    width:30px !important;
    padding-right: 0 !important;
}
.poppyz-table-row-inactive, .poppyz-table-row-inactive a, .poppyz-table-row-inactive button {
    color: #949494 !important;
}
.poppyz-table-row-active, .poppyz-table-row-active a, .poppyz-table-row-active button {
    color: #000000 !important;
}

.poppyz-students-body input:read-only:not([type=button]):not([type=reset]):not([type=submit]), .courses_page_poppyz-invoices input:read-only:not([type=button]):not([type=reset]):not([type=submit]),
.ppyv_product-body input:read-only:not([type=button]):not([type=reset]):not([type=submit]),
.post-type-ppy_tier input:read-only:not([type=button]):not([type=reset]):not([type=submit]),
.courses_page_poppyz-coupons input:read-only:not([type=button]):not([type=reset]):not([type=submit]){
    background: #FFF;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
}
.poppyz-top-tools-wrapper {
    display: flex;
    justify-content: space-between;
    margin:20px 0;
    flex-wrap: wrap;
}
.poppyz-top-tools-wrapper select{
    display: inline-flex;
    padding: 5px 25px 5px 15px;
    margin-top: -3px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    margin-left: 0;
    color: #949494 !important;
    font-weight: 400;
    font-size: 15px;
    font-family: "Montserrat", Open Sans, sans-serif;
}

.poppyz-top-tools {

}
.ppy-students-pagination {
    margin: 0;
}
.send-reminder-icon {
    padding:3px;
}
/**invoice page**/
.poppyz-invoices-body .prev-page, .poppyz-invoices-body .first-page, .poppyz-invoices-body .next-page, .poppyz-invoices-body .last-page {
    background: #CFA6A6 !important;
    color: #fff !important;
}
.poppyz-invoices-body .button.disabled {
    background: rgba(207, 166, 166, 0.20) !important;
    color: #CFA6A6 !important;
}
#ppy-invoice {
    padding: 30px 0 !important;
}
.poppyz-invoices-body  form.poppyz-form {
    background: #fff;
    padding: 0 0 30px 3px;
}

.poppyz-invoices-body .edit-php.ppyv_product-body .wrap {
    background: white;
    padding: 20px 30px;
}
.poppyz-invoices-body  .search-box button{
    border: 1px solid #CFA6A6 !important;
    background: #CFA6A6 !important;
    border-radius: 4px !important;
    color:#fff !important;
    font-family: Poppins ;
    font-size: 16px !important;
}
.poppyz-invoices-body .invoice-export{
    border: 1px solid #CFA6A6 !important;
    background: none !important;
    border-radius: 4px !important;
    color:#CFA6A6 !important;

}

.poppyz-invoices-body div.search-box {
    background: rgba(207, 166, 166, 0.20) !important;
}

.ppy-students-tools-wrapper {
    display: flex;
    justify-content: flex-start;
}

.ppy-invoice-tools-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrap .ppy-invoice-tools-wrapper button.ppy_button:not(.inactive-nav-students) {
    background: #CFA6A6;
    color: #fff;
}
.ppy-invoice-tools-wrapper button.inactive {
    background: none !important;
    color: rgba(207, 166, 166, 0.50) !important;
    border: 1px solid rgba(207, 166, 166, 0.50) !important;
    cursor:not-allowed !important;
}
.ppy-students-tools-row {
    margin-left: auto;
}
.export-label {
    color: #949494;
    font-family: Montserrat;
    /*font-size: 13px;*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left:20px;
    margin-right:10px;
}
.poppyz-students-body .main-box {
    background:none;
}
#subscription-form-wrapper {
    background: rgba(207, 166, 166, 0.20) !important;
    border-radius:0 4px 4px 4px;

}
.poppyz-students-body .invoice-add-user-course {
    background: rgba(207, 166, 166, 0.20) !important;
    padding: 10px 15px 10px 15px;
}
.poppyz-students-body .invoice-add-user-course  a {
    color: #CFA6A6 !important;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500;
    line-height: normal;
}

.poppyz-students-body .wrap a.ppy-toggle:after {
    content: none !important;
}
.poppyz-students-body .wrap a.ppy-toggle:before {
    content: "+ ";
}

.poppyz-students-body #subscription-form-wrapper form .field-wrapper {
    margin-right: 1rem;
    flex-grow: 1;
}
.poppyz-students-body #subscription-form-wrapper form .field-wrapper select, .poppyz-students-body #subscription-form-wrapper form .field-wrapper input {
    border-radius:4px;
}
.poppyz-students-body #subscription-form-wrapper input[type=submit] {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #CFA6A6;
    background: #CFA6A6;
}
.poppyz-students-body .yes-ty-email {
    width: 75px !important;
    margin-left: 4em;
    margin-right: 1em;
}
.poppyz-invoices-body .action {
    border: 1px solid #CFA6A6 !important;
    background: transparent !important;
    border-radius: 4px !important;
    color: #CFA6A6 !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}
.poppyz-invoices-body #bulk-action-selector-top, .poppyz-invoices-body #bulk-action-selector-bottom{
    border-radius: 4px;
    color: #A8B7C5;
    border: 1px solid #D7E0E8;
}
.poppyz-invoices-body table.widefat thead td {
    padding-bottom: 0;
    padding-top: 7px;
    border-top: 0 !important;
}
.poppyz-admin table.widefat thead th {
    border-top: 0 !important;
}
.student-remind-icon span {
    padding: 0 !important;
    font-size: 24px;
}
.student-remind-icon {
    margin-left:7px;
}
/**coupons**/
.poppyz-coupons-body .add-new-h2 {

    padding: 0 15px 0 15px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    margin: 20px 0 0 0;
    min-width: 130px;
    color: #fff;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 15px;

}
.poppyz-coupons-body  form.poppyz-form {
    background: #fff;
    padding: 0 0 30px 3px !important;
}
.poppyz-coupons-body .poppyz-form .button {
    border: 1px solid #CFA6A6;
    background:transparent;
    border-radius: 4px;
    color: #CFA6A6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.poppyz-coupons-body .poppyz-form select.placeholder-text {
    border-radius: 4px;
}
.toplevel_page_poppyz .add-new-h2 {
    padding: 0 15px 0 15px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    margin: 20px 0 0 0;
    min-width: 130px;
    color: #fff;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 15px;
}

/**statistics**/
.courses_page_poppyz-statistics #ppy-form-settings {
    background:none;
}
#wpcontent {
    background: none;
}
.courses_page_poppyz-statistics #get-sales {
    border: 1px solid #23282D;
    background:transparent;
    border-radius: 4px;
    color: #23282D;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ppy-banner-row .ppy-banner-child-row h1 {
    color: #000;
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 0 0;
}
.courses_page_poppyz-statistics .total_earnings {
    font-family: Prata;
    font-size: 18px;
    padding-top: 30px;

}
.courses_page_poppyz-statistics .field-wrapper {
    margin-bottom:20px;
}
.courses_page_poppyz-statistics #filter_subscription {
    border: 1px solid #CFA6A6 ;
    background: transparent;
    border-radius: 4px;
    color: #CFA6A6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500 ;
    line-height: normal;
}

/** eproducts page **/

.ppyv_product-body .button {
    border: 1px solid #CFA6A6 !important;
    background: transparent !important;
    border-radius: 4px !important;
    color: #CFA6A6 !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}
.ppyv_product-body #post-search-input, .ppyv_product-body #bulk-action-selector-bottom, .ppyv_product-body #bulk-action-selector-top, .ppyv_product-body #filter-by-date {
    border-radius: 4px !important;
    color: #A8B7C5 !important;
    border: 1px solid #D7E0E8 !important;
}
.ppyv_product-body .page-title-action {
    padding: 0 15px 0 15px;
    align-items: center;
    gap: 8px;
    border-radius: 4px !important;
    border: 1px solid #000;
    background: #000 !important;
    margin: 20px 10px 0 0;
    min-width: 130px;
    color: #fff !important;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 15px;
}
.wrap {
    margin: 10px 0 0 2px;
}
.ppyv_product-body #posts-filter {
    padding: 30px 3px 30px 0 !important;
}
.ppyv_product-body .page-title-action {
    margin-right: 0;
}
.post-type-ppyv_product #ppy-form-settings{
    padding: 0 !important;
}
.post-type-ppyv_product #normal-sortables {
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10));
}
/*user edit page*/
.profile-php #wpwrap, .user-edit-php #wpwrap {
    background: #E5E5E5 !important;
}
.profile-php .wp-heading-inline, .user-edit-php .wp-heading-inline {
    font-family: "Open Sans", Arial, sans-serif !important;
    font-size: 23px !important;
    font-weight:600 !important;
}
.profile-php #subscription-form-wrapper, .user-edit-php #subscription-form-wrapper {
    background: none !important;
}
.profile-php .wrap, .user-edit-php .wrap {
    font-family: "Open Sans", Arial, sans-serif !important;
}

.post-type-ppy_tier #wpcontent, .post-type-ppyv_product #wpcontent, .post-type-ppy_course #wpcontent {
    background: #f1f1f1 !important;
}
.ppyv_product-body #wpcontent {
    background: #fff !important;
}

#side-sortables .postbox {
    border-radius: 0 !important;
}
#postbox-container-2 .postbox-header {
    border-radius:10px 10px 0 0;
}
#postbox-container-1 .postbox-header {
    filter:none;
}
#ppy_metabox_tier_options .tabs {
    border-radius:0 0 0 10px;
    overflow: hidden;
}
.poppyz-options-body .form-table th {
    font-weight:500;
}
.ppy-percentage {
    right: 0 !important;
}
.voluntary_contribution input[type=radio] {
    border-radius:50% !important;
    margin-right:10px;
}
.admin-option-radio {
    margin-right:20px;
}

.products-image img {
    width: 300px;
    height:auto;
}
.products-image-action {
    margin-left: 20px;
}
#tier_donation_image_url_wrapper {
    display:none;
}
#uploaded-image {
    height:300px;
    width: 300px;
    background-color:#9d9d9d;
}
#uploaded-image {
    display:none;
}
.donation-image-crop-wrapper {
    display:none;
}
#upload-donation-image {
    margin-top:55px;
}
#ppy-donation-title, #ppy-donation-description, #ppy-donation-image {
    display: none;
}
.scheduled-voluntary-contribution {
    display:none;
}
.products-image-wrapper {
    margin:20px 20px 20px 0;
}
.additional-products-image-wrapper {
    margin:20px 20px 20px 20%;
}
#additional-products .products-image img, #ppy-tier-donation .products-image img {
    width:auto;
}
.rp-sub-row {
    display: none;
}
.rp-primary-row {
    cursor: pointer;
}
.rp-sub-row {
    background-color:#f5eded !important;
}
.rp-primary-row:hover {
    background-color:#cfa6a6 !important;
    color:#fff !important;
    transition: all 0.7s;
}
.rp-primary-row-active {
    background-color:#cfa6a6 !important;
    color:#fff !important;
}
#student-overdue-form  .field-wrapper, #remaining-payment-form .field-wrapper {
    margin-bottom:15px;
}
.pr-filter-wrapper {
    display: flex;
}
.pr-filter-wrapper .field-wrapper{
    margin-left: 15px;
}
.ppy-admin-table .arrow_down {
    border: solid #CFA6A6;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.ppy-admin-table .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.ppy-admin-table .arrow-wrapper {
    position: relative;
}
#overdue {
    width:100%;
}
#overdue .ppy-settings-heading-wrapper {
    width: 100%;
}
.statistics_payment_method {
    text-transform: capitalize;
}
#load-warning {
    display: none;
    padding-top: 10px;
}
.topbar-total_earnings {
    padding-top:20px;
    font-size:20px;
}
.turnover-total {
    font-size:20px !important;
    font-family: Prata !important;
    padding: 8px 0;
}
svg > g > g.google-visualization-tooltip { pointer-events: none }
.statistics-h2 {
    cursor: text !important;
}
.white-box {
    position: relative;
}
.statistics_loading, .statistics-loading-graph-period, .statistics-loading-overdue, .statistics-loading-future-payments {
    position:absolute;;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    z-index: 99;
    text-align: center;
    padding-top:20%;
    font-size:25px;
    color:#fff;
    display:none;
}
.no-overdue-statistics {
    display:none;
}

.statistics-loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
    color: #fff;
}
.statistics-loader:before {
    content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

@media only screen and (max-width: 1700px) {
    .ppy-settings-heading-wrapper {
        width: 102.4%;
    }
}
@media only screen and (max-width: 1440px) {
    #ppy_metabox_lessons .inside,
    #ppy_metabox_modules .inside,
    #ppy_metabox_tiers .inside,
    #ppy_metabox_tier_lessons .inside,
    #tier_thank_you .inside,
    #tier_email .inside,
    #newsletter_lists .inside,
    #ppy_metabox_tier_lessons_section .inside,
    #ppyv_metabox_product_options .inside,
    .poppyz-admin #postexcerpt .inside,
    .poppyz-metabox .inside,
    .poppyz-admin form.poppyz-form, .poppyz-admin form#posts-filter, .poppyz-admin .main-box {
        padding: 10px 5px;
        margin: 0;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
    }

    .postbox #ppy-form-settings {
        margin: 0 !important;
    }
    .ppy-settings-heading-wrapper {
        width: 102%;
    }
}
@media screen and (min-width: 1320px) {
    .ui-tabs-vertical .tabs .ui-tabs-nav  {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        background: none;
        border: none;
        padding: 0;
        display: flex;
        flex-flow: column;
        align-content: center;
    }
    .ui-tabs-vertical .tabs {
        flex-basis: 20%;
    }

    .ui-tabs-vertical .ui-tabs-nav li {
        display: block;
        border: none;
        float: none;
        margin-right: 0;
    }

    .ui-tabs-vertical .ui-tabs-nav > li:not(.sub-tab) a:hover > .ppy-menu-right-triangle, .ui-tabs-vertical .ui-tabs-nav > li.ui-tabs-active > a .ppy-menu-right-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #f6f9fb transparent;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (max-width: 1280px) {
    #ppy_metabox_tier_lessons_section .ppy-admin-table input.short-2 {
        width: 90px;
    }
}
@media screen and (max-width: 1280px) {
    /*  div.search-box {
          display: flex;
      }*/

    .poppyz-admin .wrap .ppy_button,
    .poppyz-admin .poppyz-form .button,
    .poppyz-admin .add-new-h2,
    .poppyz-admin form#posts-filter .button,
    .post-type-ppyv_product .page-title-action {
        height: auto;
        line-height: normal;
        padding: 10px 16px 10px 15px;
        margin: 20px 0;
    }
}
@media screen and (max-width: 1215px) {
    #statistics-page .filters .total {
        margin: 20px 0 0 20px;
    }
}
@media screen and (max-width: 1208px) {
    .ppy-admin-.ppy-admin-table {
        border: 0;
    }

    .ppy-admin-table caption {
        font-size: 1.3em;
    }

    .ppy-admin-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .ppy-admin-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .ppy-admin-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .ppy-admin-table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a .ppy-admin-table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ppy-admin-table td:last-child {
        border-bottom: 0;
    }
}
/* Large screens */
@media all and (max-width: 1200px) {
    #subscription-form-wrapper form {
    }
    #subscription-form-wrapper form .field-wrapper {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .poppyz-form .tabs .dashicons, .poppyz-form .tabs .dashicons-before::before {
        display: none !important;
    }
    .ppy-one-column .ui-tabs-vertical .tabs .ui-tabs-nav  {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 50px;
        background: none;
        border: none;
        padding: 0;
        display: flex;
        flex-flow: column;
        align-content: center;
    }
    .ppy-one-column .ui-tabs-vertical .tabs {
        flex-basis: 20%;
    }

    .ppy-one-column .ui-tabs-vertical .ui-tabs-nav li {
        display: block;
        border: none;
        float: none;
        margin-right: 0;
    }

    .ppy-one-column .ui-tabs-vertical .ui-tabs-nav > li:not(.sub-tab) a:hover > .ppy-menu-right-triangle,
    .ppy-one-column .ui-tabs-vertical .ui-tabs-nav > li.ui-tabs-active > a .ppy-menu-right-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #f6f9fb transparent;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .ui-tabs-vertical .ui-tabs-nav > li.sub-tab a.nav-tab {
        font-size: 13px;
        font-weight: normal;
        outline: 0;
        box-shadow: none;
        padding-left: 40px;
        color: #505E6C;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width: 960px) {
    div.search-box fieldset {
        grid-template-columns: auto;
    }
}



