.poppyz-tooltip {
    vertical-align: middle;
    margin-left: 10px;
    color: #858585;
}

.poppyz-notice {
    border-style:  solid;
    border-width: 1px !important;
    color: #505E6C;
    padding: 15px !important;
    margin: 20px 0;
    background-color: transparent !important;
}
.poppyz-notice p {
    margin: 0 !important;
    padding: 0 !important;
    display: inline;
}
.poppyz-notice a {
    color: inherit !important;
}
.poppyz-notice:before {
    margin: -1px 10px 0 0;
}
.poppyz-notice.notice-info:before {
    border-color: #E6EDF3;
    content: "\f348";
}
.poppyz-notice.notice-success {
    color: #29C4A9;
    border-color: #13BB9E;
}
.poppyz-notice.notice-success:before {
    content: "\f15e";
}
.poppyz-notice.notice-error {
    color: #EF5555;
    border-color: #EF5555;
}
.poppyz-notice.notice-error:before {
    content: "\f534";
}
.poppyz-notice.notice-warning {
    color: #EF974A;
    border-color: #EF974A;
}
.poppyz-notice.notice-warning:before {
    content: "\f534";
}